<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to save pictures.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos for verification.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSMotionUsageDescription</key>
	<string>This app needs your Phones motion manager to update when the phone is tilted. Please allow this App to use your phones tilt devices</string>
</dict>
</plist>
